---
import AnimationLayout from "../layouts/AnimationLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../consts";

  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<AnimationLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="">
    <h1>landing page content and components go here</h1>
    <a href="/blog">blog page</a>
  </main>
</AnimationLayout>
