---
import PageLayout from "../layouts/PageLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!-- change page layout to animation layout here when it is set up-->
<PageLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="">
    <h1>landing page content and components go here</h1>
    <a href="/blog">blog page</a>
  </main>
</PageLayout>
