---
import { fade } from "astro:transitions";
import Card from "../components/Card/index.astro";
import Layout from "../layouts/Layout.astro";
import OverviewCard from "../components/OverviewCard.astro";
import FeaturedCard from "../components/FeaturedCard.astro";
import SkillsCard from "../components/SkillsCard.astro";
import TechnicalCard from "../components/TechnicalCard.astro";
import WelcomeCard from "../components/WelcomeCard.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main
    class="mx-auto grid px-4 pb-4 pt-2 gap-2 max-w-6xl overflow-hidden relative md:grid-cols-4 md:gap-3 md:px-6 md:pb-6 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
    transition:animate="slide"
  >
    <WelcomeCard />
    <OverviewCard />
    <FeaturedCard />
    <SkillsCard />
    <TechnicalCard />

    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Blog"
      href="/blog"
      hoverShadowSize="xl"
      className="bg-primary text-primary-content"
    >
      <p class="text-sm">Rust... and data science</p>
    </Card>
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Contributions"
      href="/blog"
      hoverShadowSize="xl"
      className="bg-neutral text-neutral-content"
    >
      <p class="text-sm">Open Source</p>
    </Card>
  </main>
</Layout>
