---
interface Props {
  rounded?: boolean;
}

const { rounded } = Astro.props;
---

<button
  class={`button text-xl max-h-[50px] active:shadow-none active:translate-x-[3px] active:translate-y-[3px] px-5 py-2 border border-primary hover:text-primary transition-colors duration-100 ease-in-out ${
    rounded ? "rounded-full" : "rounded-lg"
  }`}
>
  <slot />
</button>
