---
import { Icon } from "astro-icon/components";
import { LINKS } from "../consts";

const today = new Date();
---

<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <aside class="items-center grid-flow-col">
    <Icon name="noto:black-heart" class="w-4 h-4" />
    <p>Zach. &copy; {today.getFullYear()} All rights reserved.</p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href={LINKS.github} target="_blank" rel="noopener noreferrer">
      <Icon name="line-md:github" class="w-6 h-6" />
    </a>
    <a href={LINKS.linkedin} target="_blank" rel="noopener noreferrer">
      <Icon name="line-md:linkedin" class="w-6 h-6" />
    </a>
    <a href={LINKS.discord} target="_blank" rel="noopener noreferrer">
      <Icon name="line-md:discord" class="w-6 h-6" />
    </a>
  </nav>
</footer>
