---
import { Icon } from "astro-icon/components";
---

<header>
  <nav
    class="navbar sm:p-2 md:p-4 lg:p-6 m-auto min-h-0 max-w-6xl overflow-hidden"
  >
    <div class="flex-1">
      <ul class="menu p-0 menu-horizontal px-1">
        <li>
          <a class="" href="/">Home</a>
        </li>
        <li><a class="" href="/blog">Blog</a></li>
      </ul>
    </div>
    <div class="flex-none">
      <ul class="menu p-0 menu-horizontal bg-base-200 rounded-box">
        <li>
          <Icon name="line-md:discord" />
        </li>
        <li>
          <a class="tooltip" data-tip="Details">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path></svg
            >
          </a>
        </li>
        <li>
          <a class="tooltip" data-tip="Stats">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              ><path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
