---
import { Icon } from "astro-icon/components";
---

<header>
  <nav
    class="navbar flex flex-col sm:flex sm:flex-row p-2 sm:px-4 sm:pt-4 sm:pb-2 m-auto min-h-0 max-w-6xl overflow-hidden justify-center items-center"
  >
    <div>
      <ul class="p-2 join join-horizontal">
        <li>
          <a class="join-item btn btn-sm btn-ghost" href="/"
            ><Icon name="ri:home-line" class="w-4 h-4" />Home</a
          >
        </li>
        <li>
          <a class="join-item btn btn-sm btn-ghost" href="/blog"
            ><Icon name="ri:cup-line" class="w-4 h-4" />Blog</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
