---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6">
  <div class="flex flex-col h-full">
    <h6 class="text-sm font-light m-0 text-neutral-500">overview</h6>

    <p class="font-light m-0">
      <ul class="font-light list-none">
        <li class="mb-2 flex">
          <span class="mr-2"><Icon name="noto:ok-hand" class="w-6 h-6" /></span>
          Encourage team and individual autonomy
        </li>
        <li class="mb-2 flex">
          <span class="mr-2"
            ><Icon name="noto:backhand-index-pointing-right" class="w-6 h-6" />
          </span>
          Communicate directly, often
        </li>
        <li class="mb-2 flex">
          <span class="mr-2"
            ><Icon name="noto:victory-hand" class="w-6 h-6" />
          </span>
          Strive for open-mindedness and humility
        </li>
        <li class="mb-2 flex">
          <span class="mr-2"
            ><Icon name="noto:seedling" class="w-6 h-6" />
          </span>
          <a
            href="https://www.plenty.ag/"
            target="_blank"
            rel="noopener noreferrer"
            class="link link-hover hover:text-info"
          >
            R&D Software & Data @Plenty.ag
            <Icon name="line-md:external-link" class="w-4 h-4" />
          </a>
        </li>
        <li class="mb-2 flex">
          <span class="mr-2"
            ><Icon name="noto:globe-showing-americas" class="w-6 h-6" /></span
          >
          English · Norwegian (B2) 🇳🇴
        </li>
      </ul>
    </p>
  </div>
  <h6 class="text-sm font-light m-0 text-neutral-500">interests</h6>
  <p class="font-light m-0">
    <ul class="font-light list-none">
      <li class="mb-2 flex gap-2">
        <Icon name="noto:snowflake" class="w-6 h-6" />
        <Icon name="noto:snow-capped-mountain" class="w-6 h-6" />
        <Icon name="noto:small-airplane" class="w-6 h-6" />
        <Icon name="noto:factory-worker" class="w-6 h-6" />
        <Icon name="noto:evergreen-tree" class="w-6 h-6" />
        <Icon name="noto:tractor" class="w-6 h-6" />
      </li>
    </ul>
  </p>
</Card>
