---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
const projects = [
  {
    name: "Dashboard",
    link: "",
  },
  {
    name: "Model",
    link: "",
  },
  {
    name: "API",
    link: "",
  },
  {
    name: "Database",
    link: "",
  },
  {
    name: "Deployment",
    link: "",
  },
];
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <header class="flex items-center">
    <h1 class="text-xl font-semibold flex">
      Projects<Icon name="noto:link" class="w-6 h-6 ml-2" />
    </h1>
  </header>
  <section class="mt-4">
    <div class="flex flex-col w-fit h-full">
      <ul>
        {
          projects.map((project) => (
            <li>
              <a class="link link-hover" href={project.link} target="_blank">
                {project.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Card>
