---

---

<!-- 
https://tailwindcss.com/docs/typography-plugin#element-modifiers 
prose-[element]:class-to-apply
-->
<div class="prose dark:prose-invert
  prose-a:link-primary prose-img:rounded-xl">
  <slot />
</div>
