---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";
const skills = [
  "Cloud Apps",
  "Web",
  "ML Infrastructure",
  "Test-Driven Dev",
  "Algorithm Analysis",
  "Mobile",
  "RESTful APIs",
  "CNNs/RNNs",
  "Parallel Performance",
];
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-semibold flex">
        Skills<Icon name="noto:rocket" class="w-6 h-6 ml-2" />
      </h1>
    </header>
    <div class="mt-2">
      <p>
        <ul class="list-none inline-flex flex-wrap gap-2">
          {
            skills.map((skill) => (
              <li class="">
                <a href="">
                  <span class="h-fit badge badge-ghost badge-md transition-transform hover:shadow-lg hover:bg-info hover:text-info-content hover:scale-110">
                    #{skill}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </p>
    </div>
  </div>
</Card>
