---
import Card from "./Card/index.astro";
import { Icon } from "astro-icon/components";

const logos = [
  "logos:rust",
  "logos:python",
  "logos:intel",
  "logos:linux-tux",
  "logos:tensorflow",
  "logos:ruby",
  "logos:java",
  "logos:pytorch-icon",
  "logos:dart",
  "logos:pandas-icon",
];

const getLabel = (str: string): string => {
  const colonIndex = str.indexOf(":");
  if (colonIndex !== -1) {
    let word = str.substring(colonIndex + 1);
    const dashIndex = word.indexOf("-");
    if (dashIndex !== -1) {
      word = word.substring(0, dashIndex);
    }
    return word;
  }
  return str;
};
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-semibold flex">
        Technical<Icon name="noto:mechanic" class="w-6 h-6 ml-2" />
      </h1>
    </header>
    <div class="mt-2">
      <ul class="flex flex-wrap gap-2">
        {
          logos.map((logo) => (
            <li class="flex btn btn-square tooltip" data-tip={getLabel(logo)}>
              <Icon name={logo} class="w-8 h-8" />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Card>
