---
import type { MDXLayoutProps } from "astro";
import Header from "../components/Header.astro";
import HeadLayout from "./HeadLayout.astro";
import Prose from "../components/Prose.astro";

type Props = MDXLayoutProps<{
  title: string;
  description: string;
  pubDate: string;
  minutesRead: string;
}>;

const { frontmatter } = Astro.props;
---

<HeadLayout title={frontmatter.title} description={frontmatter.description}>
  <Header />
  <main>
    <article class="pb-6">
      <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
      <div class="flex fllex-col">
        <p class="text-info font-light text-sm flex-1">
          {frontmatter.minutesRead}
        </p>
        <time class="text-info font-light text-sm">
          {
            new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </div>
      <hr />
      <div class="pt-6">
        <Prose>
          <slot />
        </Prose>
      </div>
    </article>
  </main>
</HeadLayout>
