---
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      // prevent flash of inacurate color user theme preference
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "nord");

        document.addEventListener("DOMContentLoaded", function () {
          var inputElement = document.querySelector('input[value="nord"]');
          if (inputElement) {
            inputElement.classList.add("btn-primary");
          }
        });
      } else
        document.documentElement.setAttribute(
          "data-theme",
          localStorage.getItem("theme")
        );
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
    <BaseHead title={title} description={description} />
  </head>
  <body class="bg-base-100 flex flex-col justify-center items-center">
    <slot name="loader" />
    <slot />
  </body>
</html>
